/*My main css file*/



body {
    margin: 40px;
    padding: 20px;
    background-color: rgb(238, 210, 210);
    font-family: "Times New Roman";
    color: rgb(248, 245, 245);
  }
  
  header {
    background-color: rgb(0, 0, 0);
    height: 90px;
    width: 100%;
    opacity: .75;
    margin-bottom: 60px;
  }
  
  header h1.logo {
    margin: 5;
    font-size: 2em;
    color: White;
    text-transform: capitalize;
    text-align: center;
    float: center;
  }
  
  header h1.logo:hover {
    color: black;
    text-align: flex;
    height: 37px;
    text-decoration: none;
  }
  
  .container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  
  div.home {
    padding: 15px 0 30px 0;
    background-color: rgb(235, 12, 12);
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
        border-radius: 5px;
  }
  
  div.about {
    padding: 20px 0 100px 0;
    background-color: rgb(235, 12, 12);
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
        border-radius: 5px;
  }
  
  .menu {
    float: right;
    margin-top: 10px;
  }
  