<!--About page-->
{% extends "layout.html" %}
{% block content %}

<div class="about">
    <h1>This page will tell you how the password strength tester works and what its good for!</h1>
    <p>The password strength tester takes any passcode you want to use and give it a score on how secure it is!</p>
    <p>This tester is useful for creating secure passwords that are hard to hack and obtain. Keeping a secure password will make sure your personal information is safe on the internet.</p>
    <p>A score over 75% is a great password and secure enough to protect your accounts.</p>
    <p>A score under 75% is not a secure enough password and would need more special characters or numbers to make it secure.</p>
    <p>After your ideal password is deamed secure, copy and paste the password somewhere secure to keep a copy of the passcode.</p>
</div>

{% endblock %}